.App{
  display: grid;
  grid-template-columns: 1fr 3fr;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.topics{
  background-color: #101211;
  height: 100vh;
  width: 25vw;
}
.chat{
  overflow-y: auto;
  height: 100vh;
  width: 75vw;
  background-color: #1e1f1e;
  justify-content: center;
  align-items: center;
}
.chat-messages{
  width:100vw;
  height:80vh;
  background: transparent;
  color: white;
  font-size: 110%;
  display: grid;
  grid-template-columns: 1fr;
  height: auto;
}
.user{
  width:75vw;
  word-wrap: break-word;
  height: auto;
  padding:1% 5%;
  background-color: #242625;
}
.bot{
  width:75vw;
  max-width: 75vw;
  word-wrap: break-word;
  height: auto;
  padding:1% 5%;
  background: transparent;
}
form{
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  justify-content: center;
  align-items: center;
}
.chat-form-input{
  width:55vw;
  height:5vh;
  background: #242625;;
  border: 1px solid black;
  border-radius:10px;
  position: fixed;
  top: 90vh;
  left: 35vw;
  color: white;
}
.chat-form-input textarea{
  overflow-y: auto;
  resize: none;
  background: transparent;
  border: None;
  height: 65%;
  width: 90%;
  color: white;
  font-size: 150%;
  position: relative;
  top:22%;
}
.chat-form-input textarea:focus{
  border: none;
  outline: none;
}
.chat-form-input Button{
  margin-left:0px;
  margin-right:0 px;
  float: right;
  position: relative;
  top:22%;
  left:-1%;
  color: white;
  background: transparent;
  border: none;
}
.chat-form-input Button:hover{
  cursor: pointer;
  background-color: #1e58bd;
  border-radius: 2px;
}

.form-container{
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  width: 100vw;
  height: 100vh;
  position: fixed;
  /* top: 30vh; */
  align-items: center;
  background-color: black;
}
.form {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.form-container > input:first-child {
  margin-top: 0%;
}
.form-container input{
  font-size: 130%;
  margin-top: 7%;
  width: 20vw;
  height: 1vh;
  background: transparent;
  color: white;
  border-color: none;
  border-radius: 5px;
  padding: 5% 5%;
  font-family: 'Courier New', Courier, monospace;
}
.form-container button{
  margin-top: 10%;
  width: 50%;
  height: 80%;
  font-size: 130%;
  position: relative;
  left: 30%;
  background: transparent;
  color: white;
  border: none;
}
.form-container button:hover{
  background: green;
}